
@font-face {
	font-family: "iconfont";
  	src:url('../fonts/iconfont.ttf') format('truetype'); /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:24px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
}
.icon-xuanze:before { content: "\e610"; }
.icon-add:before { content: "\e60c"; }
.icon-home:before { content: "\e600"; }
.icon-iconfont53:before { content: "\e60f"; }
.icon-wodedingdan:before { content: "\e601"; }
.icon-cart:before { content: "\e603"; }
.icon-xiaolian:before { content: "\e602"; }
.icon-wode:before { content: "\e604"; }
.icon-mimaxiugai:before { content: "\e605"; }
.icon-fenlei:before { content: "\e606"; }
.icon-tianjia:before { content: "\e60e"; }
.icon-tianjia1:before { content: "\e60d"; }
.icon-jiumima:before { content: "\e607"; }
.icon-queren:before { content: "\e60b"; }
.icon-zhanghao:before { content: "\e608"; }
.icon-dizhi:before { content: "\e609"; }
.icon-xinyuandan:before { content: "\e60a"; }
.icon-xuanze1:before { content: "\e611"; }
